body{
    background-image: url('./gallery/download.jpg'),linear-gradient(
		rgba(12, 3, 51, 0.2),
		rgba(12, 3, 51, 0.2)
	);
    
    background-attachment: fixed;
    background-size:cover ;
    background-repeat: no-repeat;
}
.firstinput{
    background-color: transparent;
  
}
.firstinput::placeholder{
    color: rgb(0, 0, 0);
    
}
